body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    background-image: url('snow-background2.gif');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #fff;
}

.container {
    position: relative; /* 讓子元素使用 container 作為參考基準 */
    padding: 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3);
}

button#start-music {
    position: absolute; /* 絕對定位 */
    bottom: 10px;       /* 距 container 底部 10px */
    right: 10px;        /* 距 container 右側 10px */
    padding: 10px 15px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

button#start-music:hover {
    background-color: #e64a19;
}

.title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px #000;
}

.santa-container {
    position: relative;
    height: 144px;
    width: 288px;
    margin: auto;
}

#santa {
    height: 100%;
    width: 100%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
    animation: fade-in 1s ease-in-out forwards;
}


#message-part1{
    font-size: 1.5rem;
    margin-top: 20px;
    color: rgb(255,215,0);
    font-weight: bolder;
}

#message-part2 {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: bolder;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
